{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet"/>
{% endblock stylesheets %}

{% block content %}

<div class="card" style="width: 77rem; height: 37rem;">
        <div class="card-body" style="margin-left: 40%;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mt-6">
                        <label for="description">File Name</label>
                        <input type="text"  value="" id="filename" placeholder="Enter file name" required>                   
                    </div>
                    <button id="submit_file_name" class="btn btn-info ms-10 mb-3">submit</button>
                </div>        
            </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

$(document).ready(function() {
        $('#submit_file_name').click(function() {
        var x = $("#filename").val(); 
        $.ajax({
        type: "POST",
        url: "/file_select_data",
        data:{file_data1:x},

        success: function(data) {
                        var result = $.parseJSON(data)
                        console.log(result)
                        if(result==true){
                            window.location='/qbo_file_data'
                        }else{
                            alert("Please enter correct file name")
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log("Error:", error);
                    }
        
     });
     });
     });
	
</script>
{% endblock javascripts %}





