{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet"/>
{% endblock stylesheets %}

{% block content %}

<div class="card" style="width: 77rem; height: 37rem;">
        <div class="card-body" style="margin-left: 40%;">
            <div class="row">
                <div class="col-md-6">
                    <div id="ajax-alert" class=""></div>
                    <button id="start_conversion" class="btn btn-info ms-10 mb-3">Start Conversion</button>
                </div>        
            </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

$(document).ready(function() {
        $('#start_conversion').click(function() {
        $.ajax({
        type: "POST",
        url: "/startJobByID",
        success: function(data) {
                            var result = $.parseJSON(data);
                            $("#ajax-alert").addClass("alert alert-success").text('Conversion has been started successfully!!');
                                    $("#ajax-alert").alert();
                                    $("#ajax-alert").fadeTo(5000, 5000).slideUp(5000, function(){
                                    });
                            $("#ajax-alert").addClass("alert alert-success").text('Job has been started successfully!!');
                                    $("#ajax-alert").alert();
                                    $("#ajax-alert").fadeTo(5000, 5000).slideUp(5000, function(){
                                    });
                            if(result.status=='success'){
                                    $("#ajax-alert").addClass("alert alert-success").text('Conversion has been started successfully!!');
                                    $("#ajax-alert").alert();
                                    $("#ajax-alert").fadeTo(5000, 5000).slideUp(5000, function(){
                                    });
                            }else{
                                $("#ajax-alert").addClass("alert alert-danger").text('Something went wrong!!');
                                $("#ajax-alert").alert();
                                $("#ajax-alert").fadeTo(5000, 5000).slideUp(5000, function(){
                                });
                            }
                    },
                    error: function(xhr, status, error) {
                        console.log("Error:", error);
                    }
        
     });
     });
     });
	
</script>
{% endblock javascripts %}





