{% block stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    /* Custom CSS for your form page */
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        background-color: #f2f2f2;
    }

    .custom-card {
        width: 100%;
        max-width: 600px;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .custom-form-group {
        margin-bottom: 20px;
    }

    .custom-label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    .custom-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .custom-button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .custom-button:hover {
        background-color: #0056b3;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="custom-card">
    <h1 style="text-align: center;">Myob Accountright File Details</h1>
    <form>
        <div class="custom-form-group">
            <label for="file" class="custom-label">Select File:</label>
            <input type="file" class="custom-input" name="file" id="Upload_file" required>
        </div>
        <button id="submit_file_name" class="custom-button">Submit</button>
    </form>
</div>
{% endblock content %}
